# Node.js
node_modules/

# Next.js build output
.next/

# Firebase config
config/firebaseConfig.js

# Environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local

# Log files
*.log

# Visual Studio Code configuration files
.vscode/
.settings/

# macOS
.DS_Store

# JetBrains IDEs
.idea/
*.iml

# Compiled files
*.com
*.class
*.dll
*.exe
*.o
*.so

# Package lock files
package-lock.json
yarn.lock

# Dependency directories
/coverage/
/.pnp/
/.pnp.js

# Next.js Image Optimization cache
/public/_next/image/

# Build cache
/.vercel

# Firebase Emulator Suite
.firebase/

# Custom build output
/out/
